* {
  font-family: Arial, Helvetica, sans-serif;
}

.card-container {
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    margin-bottom: 20px;
    background-color: goldenrod;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 10px;
  }
  
  .card-image {
    width: 100%;
    height: auto;
    border-radius: 6px 6px 0px 0px;
    max-width: 300px;
  }
  
  .card-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
  }

  .card-location {
    margin-bottom: 10px;
  }

  .amenities-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .amenities-list li {
    color: white;
    border: 5px black solid;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    font-weight: 600;
    cursor: pointer;
  }
  
  .btnAvailablePeriods {
    font-weight: bold;
    margin-top: 20px;
    background-color: rgb(0, 255, 238);
    padding: 10px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 4px;
    transition: background-color 0.3s;
  }

  .btnAvailablePeriods:hover {
    background-color: rgb(0, 220, 206);
  }