<div class="container">
  <div class="header-main">
    <div class="header">
      <h1 routerLink="">StayInn</h1>
      <div class="header-buttons">
        <ng-container *ngIf="!isUserLoggedIn(); else logoutButton">
          <button class="btnLogin" routerLink="/login">Login</button>
          <button class="btnRegister" routerLink="/register">Register</button>
        </ng-container>
        <ng-template #logoutButton>
          <select #dropdownMenu class="dropdown-menu" (change)="handleDropdownChange($event)">
            <option value="" disabled selected style="display: none;">Menu</option>
            <option value="profile" class="profile-option">Profile</option>
            <option value="history-reservation" class="history-reservation">History Reservation</option>
            <option value="changePassword" class="change-password-option">Change Password</option>
            <option value="logout" class="logout-option">Logout</option>
          </select>
        </ng-template>
        <!-- <button routerLink="/change-password">Change Password</button> -->
      </div>
    </div>
  </div>
</div>
