<div class="container">
    <div class="header-main">
    <div class="header">
        <h1>StayInn</h1>
        <div class="header-buttons">
            <button>Log in</button>
            <button>Register</button>
        </div>
    </div>
    <div class="main-content">
        <div class="image-container">
            <img src="/assets/images/wallpaper.jpg" alt="StayInn Image">
            <div class="image-overlay"></div>
        </div>
        <div class="text-container">
            <h1>Take a break</h1>
            <p>Explore the perfect accommodation for you</p>
        </div>
    </div>
    </div>
    <div class="header-search">
        <div class="search-input">
            <label for="location">Location</label>
            <input type="text" id="location" placeholder="Where are you going?" />
        </div>
        <div class="search-input">
            <label for="check-in">Check-In</label>
            <input type="date" id="check-in" />
        </div>
        <div class="search-input">
            <label for="check-out">Check-Out</label>
            <input type="date" id="check-out" />
        </div>
        <div class="search-input">
            <label for="adults">Adults</label>
            <input type="number" id="adults" min="1" value="1" />
        </div>
        <div class="search-input">
            <label class="search-label"></label>
            <button class="search-button">Search</button>
        </div>
    </div>
  </div>
  