<div class="popup-ratings">
    <h1>Ratings</h1>
    <div class="host-ratings" *ngIf="ratingsType === 'host'">
      <h2>Host Ratings</h2>
      <table>
        <thead>
          <tr>
            <th>Username</th>
            <th>Time</th>
            <th>Rate</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rating of ratingHost">
            <td>{{ rating.guestUsername }}</td>
            <td>{{ formatDateTime(rating.time) }}</td>
            <td>{{ rating.rate }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr>
      <div class="accommodation-ratings" *ngIf="ratingsType === 'accommodation'">
        <h3>Accommodation</h3>
        <table>
          <thead>
            <tr>
              <th>Username</th>
              <th>Time</th>
              <th>Rate</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rating of ratingAccommodation">
              <ng-container>
                <td>{{ rating.guestUsername }}</td>
                <td>{{ formatDateTime(rating.time) }}</td>
                <td>{{ rating.rate }}</td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
    <button (click)="close()">Close</button>
  </div>
