<div class="wrapper">
  <h2>History reservations</h2>
  <div class="reservation-cards">
    <div *ngFor="let displayedAccommodation of displayedAccommodations" class="reservation-card">
      <p class="accommodation-name">Name: {{ displayedAccommodation.accommodationInfo.name }}</p>
      <p>Location: {{ displayedAccommodation.accommodationInfo.location }}</p>
      <p>Start date: {{ formatDateTime(displayedAccommodation.reservationInfo.StartDate) }}</p>
      <p>End date: {{ formatDateTime(displayedAccommodation.reservationInfo.EndDate) }}</p>
      <p>Price: {{ displayedAccommodation.reservationInfo.Price }} €</p>
      <!-- <button (click)="navigateToRateAccommodation(displayedAccommodation.accommodationInfo.id)">Rate Accommodation</button> -->
    </div>
  </div>
</div>

<div class="wrapper rating-section">
  <h2>History Rating for Accommodation</h2>
  <div *ngIf="userRatings.length > 0">
    <ul class="rating-list">
      <li *ngFor="let rating of userRatings">
        <p>Accommodation: {{ getAccommodationNameById(rating.idAccommodation) }}</p>
        <p>Rating: {{ rating.rate }}</p>
        <p>Time: {{ formatDateTime(rating.time) }}</p>
      </li>
    </ul>
  </div>
  <div *ngIf="userRatings.length === 0">
    <p>No ratings available.</p>
  </div>
</div>

<div class="wrapper rating-section">
  <h2>History Rating for Hosts</h2>
  <div *ngIf="hostRating.length > 0">
    <ul class="rating-list">
      <li *ngFor="let rating of hostRating">
        <p>Host: {{ rating.hostUsername }}</p>
        <p>Rating: {{ rating.rate }}</p>
        <p>Time: {{ formatDateTime(rating.time) }}</p>
      </li>
    </ul>
  </div>
  <div *ngIf="hostRating.length === 0">
    <p>No ratings available.</p>
  </div>
</div>