<div>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <label for="newPasswordField">New password</label>
        <input id="newPasswordField" type="password" formControlName="newPassword" required/>

        <label for="newPassword1Field">Confirm password</label>
        <input id="newPassword1Field" type="password" formControlName="newPassword1" required/>

        <label for="recoverUUIDField">Enter your code</label>
        <input id="recoverUUIDField" type="text" formControlName="recoverUUID" required/>
        
        <small *ngIf="changePasswordForm.hasError('passwordMismatch')">
            New passwords do not match.
        </small>

        <input type="submit" value="Submit"/>
    </form>
</div>
