<div>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <label for="currentPasswordField">Current password</label>
        <input id="currentPasswordField" type="password" formControlName="currentPassword" required/>
        <small *ngIf="changePasswordForm.get('currentPassword')?.hasError('pattern')">
            Password must contain at least 8 characters, including one uppercase letter, one lowercase letter, and one number.
        </small>

        <label for="newPasswordField">New password</label>
        <input id="newPasswordField" type="password" formControlName="newPassword" required/>

        <label for="newPassword1Field">Confirm password</label>
        <input id="newPassword1Field" type="password" formControlName="newPassword1" required/>
        
        <small *ngIf="changePasswordForm.hasError('passwordMismatch')">
            New passwords do not match.
        </small>

        <input type="submit" value="Submit"/>
    </form>
</div>


