<div>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <label for="currentPasswordField">Current password</label>
        <input id="currentPasswordField" type="text" formControlName="currentPassword" required/>

        <label for="newPasswordField">New password</label>
        <input id="newPasswordField" type="password" formControlName="newPassword" required/>

        <label for="newPassword1Field">Confirm password</label>
        <input id="newPassword1Field" type="password" formControlName="newPassword1" required/>

        <input type="submit" value="Submit"/>
    </form>
</div>

