* {
    font-family: Arial, Helvetica, sans-serif;
}

.periods-container {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    height: 100%;
}

.card-container {
    width: 100%;
}

.card {
    margin-bottom: 10px;
    background-color: goldenrod;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 20px;
}

.card h2 {
    margin-bottom: 20px;
}

.card ul {
    list-style: none;
}

.card ul li {
    border: 2px solid black;
    margin-bottom: 10px;
    padding: 10px;
}

.btnStyle {
    margin: 10px;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.btnAddReservation {
    background-color: green;
}

.btnAddPeriod {
    background-color: green;
}

.btnView {
    background-color: #007BFF;
}

.btnEdit {
    background-color: gold;
    color: black;
}