<button (click)="navigateToAddReservationPeriod()">Add available period</button>

<div *ngIf="availablePeriods">
    <h2>Available Periods</h2>
    <ul>
      <li *ngFor="let period of availablePeriods">
        <strong>Start Date:</strong> {{ period.StartDate }}<br>
        <strong>End Date:</strong> {{ period.EndDate }}<br>
        <strong>Price:</strong> {{ period.Price }}<br>
        <strong>Price Per Guest:</strong> {{ period.PricePerGuest ? 'Yes' : 'No' }}<br>
 
        <button (click)="navigateToAddReservation(period)">Add Reservation</button>
        <button (click)="navigateToReservations(period)">View reservations for period</button>
        <br><br>
      </li>
    </ul>
  </div>
  