.profile-container {
  width: 500px;
  margin: 20px auto;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px #000000;
  margin-bottom: 306px;
  justify-content: center;
}

h2 {
  color: #007BFF;
  background-color: rgb(194, 194, 194);
  margin-bottom: 20px;
  text-align: center;
  padding: 4px;
}

#hostAccTxt {
  width: 100%;
}

p {
  margin-bottom: 10px;
}

.form-group {
  margin: 0 auto;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

label {
  display: inline-block;
  width: 190px;
}

button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 10px auto;
}

button:hover {
  background-color: #0056b3;
}

.text-danger {
  color: red;
  font-weight: 500;
  display: block;
  text-align: r;
}

.container-main {
  background-color: goldenrod;
  width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

.card-container {
  width: 350px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.card {
  width: 100%;
  margin-bottom: 20px;
  border: 2px solid black;
  border-radius: 6px;
  padding: 10px;
}

.card h3 {
  text-align: center;
  width: 200px;
  margin: 0 50px;
}

.card ul {
  list-style: none;
}

.card ul li {
  margin-bottom: 20px;
  border: 2px solid black;
  padding: 6px;
  border-radius: 10px;
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 6px 6px 0px 0px;
  max-width: 300px;
}

.card-title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  color: white;
}

.card-location {
  margin-bottom: 10px;
}
#btnDelete {
  background-color: red;
}

#btnDelete:hover {
  background-color: rgb(200, 1, 1);
}
