<div class="profile-container">
  <h2>Profile Details</h2>
  <div *ngIf="userProfile">
    <form (submit)="updateProfile()" [formGroup]="form">
      <div class="form-group">
        <label for="username">Username:</label>
        <input [(ngModel)]="userProfile.username" type="text" name="username" [formControl]="form.controls['username']">
        <small class="text-danger" *ngIf="form.get('username').hasError('required') && form.get('username').touched">
          Username is required
        </small>
      </div>
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input [(ngModel)]="userProfile.firstName" type="text" name="firstName" [formControl]="form.controls['firstName']">
        <small class="text-danger" *ngIf="form.get('firstName').hasError('required') && form.get('firstName').touched">
          First Name is required
        </small>
      </div>

      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input [(ngModel)]="userProfile.lastName" type="text" name="lastName" [formControl]="form.controls['lastName']">
        <small class="text-danger" *ngIf="form.get('lastName').hasError('required') && form.get('lastName').touched">
          Last Name is required
        </small>
      </div>

      <div class="form-group">
        <label for="email">Email:</label>
        <input [(ngModel)]="userProfile.email" type="email" name="email" [formControl]="form.controls['email']">
        <small class="text-danger" *ngIf="form.get('email').hasError('required') && form.get('email').touched">
          Email is not valid
        </small>
      </div>

      <div class="form-group">
        <label for="address">Address:</label>
        <input [(ngModel)]="userProfile.address" type="text" name="address" [formControl]="form.controls['address']" ng-trim="false">
        <small class="text-danger" *ngIf="form.get('address').hasError('pattern') && form.get('address').touched">
          Address is required
        </small>
      </div>

      <button type="submit">Update Profile</button>
    </form>
    <button id="btnDelete" (click)="deleteProfile()">Delete Profile</button>
  </div>
  <div *ngIf="!userProfile">
    <p>Error loading user profile.</p>
  </div>
</div>
